{% if cart %}
  <div class="overlay" id="overlay"></div>
  <form class="shoplist open-cart-list" action="{{ routes.cart_url }}" method="post">

    <div class="title-cart">
      <h2>Mi carrito</h2>
      <button type="button" id="close-cart">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 44 64"><path d="M0 48.64q0-2.304 1.664-3.968l12.48-12.48-12.48-12.544q-1.664-1.6-1.664-3.904t1.664-3.904 3.904-1.6 3.904 1.6l12.544 12.544 12.48-12.544q1.6-1.6 3.904-1.6t3.904 1.6 1.6 3.904-1.6 3.904l-12.48 12.544 12.48 12.48q1.6 1.664 1.6 3.968t-1.6 3.904-3.904 1.6-3.904-1.6l-12.48-12.48-12.544 12.48q-1.6 1.6-3.904 1.6t-3.904-1.6q-1.664-1.664-1.664-3.904z"></path></svg>
      </button>
    </div>

    <div class="timer">
        <span class="timer-message" id="timer-message"> ¡SOLO FALTAN $<span id="difference-cart">1500</span> PARA ENVÍO GRATIS!</span>
        <div class="progress-container">
          <div class="progress-bar">h</div>
        </div>
    </div>
    

    <div class="product-list space">         

    </div>

    <div class="recomendation">
      <div class="youmay-container">
        <span class="youmay">Clientes como tú tambien se llevaron</span>
      </div>
      <div class="recomendation-products">

        <div class="slider-cart">
          <button type="button" class="back-recomended">&#10094;</button>
          <div class="recommended-products-container" id="default-cart-recomended">

            {% for i in (1..10) %}
              {% assign max = 50 %}
              {% assign random_number = "now" | date: "%N" | modulo: max | plus: 0 %}
              {% assign product = collections['Outlet'].products[random_number] %}
          
              {% assign product_image_url = item.featured_image | img_url: 'medium' %}
              {%  render 'cart-snippets' type: 'product-recomended' product_name: item.title product_price: item.price, product_image: product_image_url product_link: item.url product_id: item.variants[0].id %}  %}
          
            {% endfor %}

          </div>
          <button type="button" class="next-recomended">&#10095;</button>
        </div>
        
        <div class="slider-cart">
          <button type="button" class="back-recomended">&#10094;</button>
          <div class="recommended-products-container" id="dinamically-1">          

          </div>
          <button type="button" class="next-recomended">&#10095;</button>
        </div>

        <div class="slider-cart">
          <button type="button" class="back-recomended">&#10094;</button>
          <div class="recommended-products-container" id="dinamically-2">          

          </div>
          <button type="button" class="next-recomended">&#10095;</button>
        </div>
        
      </div>
    </div>


    <div class="cart-footer">
        <div class="total-cart">
            <span class="total-label">Subtotal</span>
            <span class="total-money">$0.00</span>
          </div>

          <div class="cart-advice">
            <span> Envío se calcula en pantalla de pago </span>
          </div>
      
          <!-- <hr class="divider"> -->
      
          <div class="actions-cart">
            <a href="/cart" class="primary-button">Ver carrito</a>
            <input class="primary-button" type="submit" name="checkout" value={{ 'sections.dropdown_cart.checkout' | t}}>
          </div>
    </div>

  </form>
{% endif %}

{% schema %}
{
    "name": "Cart UpSeller",
    "target": "section",
    "stylesheet": "cart-upseller.css",
    "javascript": "slider.js",
    "settings": []
}
{% endschema %}
